*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorImagen {
  position: relative;
  width: 100vw; 
  height: 450px;
  overflow: hidden;
  }
  .imagenInicio {
    position: relative;
    width: 100%; 
    height: 100%;
    background-image: url("images/familia.jpg");
    background-size: cover;
    text-align: center;
    color: rgb(9, 50, 130);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .imagenInicio h2 {
    /* Estilos para el texto */
    margin-bottom: auto; /* Ajusta el margen inferior para mover el texto hacia arriba */
  margin-top: 0; /* Elimina el margen predeterminado del h2 */
  }
/* .contacto{
  margin-bottom: 20px;
} */
   .button-container {
    margin-top: 20px; /* Centra el contenido en la parte inferior del contenedor */
  }

  .texto{
    /* color: rgb(9, 50, 130); */
    color: white;
    /* width:550px; */
    /* text-align: left; */
  }
  .quienes{
    text-align: center;
    color: rgb(9, 50, 130);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .boton{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background: rgb(9, 50, 130);
    margin-top: 10px;
    /*border: 0.6rem solid ;*/
    position: relative;
    border-radius: 23px;
  }
  .boton:hover {
    background-color: white;
    border: 2px solid rgb(9, 50, 130);
    color: rgb(9, 50, 130);
    text-decoration: none;    
  }
  .imagen{
    margin-top: 10px;
  }
 .divLogoPie{
  height: 150px;
  width: 150px;

 }

  .logoPie{
    margin-top: 20px;
    height: 100px;
    width: 100px;
  }
  .logoPie:hover{
    height: 120px;
    width: 120px;
  }
  
.pie{
  background-color:rgb(243, 243,243)
}

.somos{
  color: rgb(9, 50, 130);
}




#carouselExampleControls .carousel-inner {
  max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
  max-height: 600px; /* Ajusta la altura máxima según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente el carrusel */
}

#carouselExampleFade .carousel-inner {
  max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
  max-height: 600px; /* Ajusta la altura máxima según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente el carrusel */
}


#carouselExampleCaptions .carousel-inner {
  max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
  max-height: 600px; /* Ajusta la altura máxima según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente el carrusel */
}

#carouselExampleSlidesOnly .carousel-inner {
  max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
  max-height: 600px; /* Ajusta la altura máxima según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente el carrusel */
}
/* Estilos para las flechas del carrusel */
.carousel-control-prev
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  border-radius: 50%; /* Borde redondeado */
  width: 30px; /* Ancho de las flechas (ajusta según sea necesario) */
  height: 30px; /* Altura de las flechas (ajusta según sea necesario) */
  line-height: 30px; /* Centra verticalmente el ícono de la flecha */
  top: 50%; /* Posiciona verticalmente en el centro */
  transform: translateY(-50%); /* Alinea verticalmente en el centro */
  font-size: 18px; /* Tamaño del ícono (ajusta según sea necesario) */
  color: black; /* Color del ícono */
  opacity: 0.7; /* Opacidad inicial (puedes ajustar esto) */
}

/* Estilos para los íconos de las flechas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 18px; /* Tamaño del ícono (ajusta según sea necesario) */
  color: black; /* Color del ícono */
}




/* #carouselExampleCaptions .carousel-inner {
  max-height: 800px; /* Ajusta la altura como desees */
  /* max-width: 80%;

} */ 


/* @media (max-width: 768px) {
  .imagenInicio {
    /* background-image: ; */
    /* background-size: contain; */
    
  /* }
} */

/* Pantallas grandes (más de 768px de ancho) */
/* @media (min-width: 768px) {
  .imagenInicio {
    background-size: cover;
  }
} */

/* Pantallas pequeñas (menos de 768px de ancho) */
/* @media (max-width: 768px) {
  .imagenInicio {
    background-size: contain;
    background-repeat: no-repeat;
  }
} */

